<h2><%= @turniej.title %></h2>
<p><%= @turniej.date %></p>
<p><%= @turniej.contents %></p>
<p><%= link_to("Edit this turniej", edit_turniej_path(@turniej)) %></p>

<p><%= link_to("Wroc do wszystkich", turniejs_path) %></p>
